## 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

Ans:-Here's how you can save the string 'This is a test of the emergency text system' to a file named 'test.txt':

test1 = 'This is a test of the emergency text system'

with open('test.txt', 'w') as file:

    file.write(test1)

In this code, we first define the string 'This is a test of the emergency text system' and assign it to the variable test1.

We then use the with statement to open a file named 'test.txt' in write mode ('w') and assign it to the variable file. This will automatically close the file when the block is exited.

We use the write() method of the file object to write the contents of test1 to the file.

After this code is executed, the string 'This is a test of the emergency text system' will be saved to a file named 'test.txt'.

## 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

Ans:-To read the contents of the file 'test.txt' into the variable test2, you can use the following code:

with open('test.txt', 'r') as file:

    test2 = file.read()

You can check this by printing both variables and comparing the output:

print(test1)

print(test2)

## 3. Create a CSV file called books.csv by using these lines:
## title,author,year
## The Weirdstone of Brisingamen,Alan Garner,1960
## Perdido Street Station,China Miéville,2000
## Thud!,Terry Pratchett,2005
## The Spellman Files,Lisa Lutz,2007
## Small Gods,Terry Pratchett,1992


Ans:-To create a CSV file called 'books.csv' with the specified contents, you can use the following code:

import csv

rows = [    ['title', 'author', 'year'],

    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    
    ['Perdido Street Station', 'China Miéville', '2000'],
    
    ['Thud!', 'Terry Pratchett', '2005'],
    
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    
    ['Small Gods', 'Terry Pratchett', '1992']
]

with open('books.csv', 'w', newline='') as file:

    writer = csv.writer(file)
    
    writer.writerows(rows)


After this code is executed, a CSV file named 'books.csv' will be created with the specified contents.

## 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

Ans:-To create a SQLite database called 'books.db' with a table called 'books' and the specified fields, you can use the following code:

import sqlite3

conn = sqlite3.connect('books.db')

c = conn.cursor()

create_table = '''CREATE TABLE books (

                    title TEXT,
                    
                    author TEXT,
                    
                    year INTEGER
                    
                );'''

c.execute(create_table)

conn.commit()

conn.close()


After this code is executed, a SQLite database called 'books.db' will be created with a table called 'books' and the specified fields.

## 5. Read books.csv and insert its data into the book table.

Ans:-To read the data from the CSV file 'books.csv' and insert it into the 'books' table in the SQLite database 'books.db', you can use the following code:

import sqlite3

import csv

conn = sqlite3.connect('books.db')

c = conn.cursor()

with open('books.csv', 'r') as f:

    reader = csv.reader(f)
    
    next(reader)  # skip the header row

    # Iterate over each row in the CSV file and insert it into the database
    for row in reader:
    
        title = row[0]
        
        author = row[1]
        
        year = int(row[2])
        
        c.execute("INSERT INTO books VALUES (?, ?, ?)", (title, author, year))

conn.commit()

conn.close()


After this code is executed, the data from the 'books.csv' file will be inserted into the 'books' table in the 'books.db' database.

## 6. Select and print the title column from the book table in alphabetical order.

Ans:-Here's an example of how to select and print the title column from the book table in alphabetical order using Python and the sqlite3 module:

import sqlite3

conn = sqlite3.connect('books.db')

c = conn.cursor()

c.execute('SELECT title FROM books ORDER BY title')

rows = c.fetchall()

for row in rows:

    print(row[0])

c.close()

conn.close()


This will print the title column in alphabetical order as follows:

Perdido Street Station

Small Gods

The Spellman Files

The Weirdstone of Brisingamen

Thud!

## 7. From the book table, select and print all columns in the order of publication.

Ans:-Here's an example of how to select and print all columns from the book table in the order of publication using Python and the sqlite3 module:

import sqlite3

conn = sqlite3.connect('books.db')

c = conn.cursor()

c.execute('SELECT * FROM books ORDER BY year')

rows = c.fetchall()

for row in rows:

    print(row)

c.close()

conn.close()


This will print all columns in the order of publication as follows:

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)

('Small Gods', 'Terry Pratchett', 1992)

('Perdido Street Station', 'China Miéville', 2000)

('Thud!', 'Terry Pratchett', 2005)

('The Spellman Files', 'Lisa Lutz', 2007)

## 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

Ans:-Here's an example of how to use the sqlalchemy module to connect to the sqlite3 database books.db:

from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db', echo=True)

result = engine.execute("SELECT * FROM books")

rows = result.fetchall()

for row in rows:

    print(row)

result.close()

engine.dispose()


This will create an engine object that connects to the books.db database and executes a SELECT statement on the books table to retrieve all rows. The results are then printed to the console.

## 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

Ans:-To create a Redis hash called "test" with fields count (1) and name ('Fester Bestertester') using the Python Redis library, you can use the following code:

import redis

r = redis.Redis(host='localhost', port=6379, db=0)

r.hset('test', 'count', 1)

r.hset('test', 'name', 'Fester Bestertester')

print(r.hgetall('test'))


This will create a Redis hash called "test" with two fields, "count" and "name", with values 1 and "Fester Bestertester" respectively. The hgetall() method is then used to retrieve all fields and values for the hash, which are printed to the console.

## 10. Increment the count field of test and print it.

Ans:-Here's how you can increment the count field of the Redis hash called test and print it using the Python redis library:

import redis

r = redis.Redis(host='localhost', port=6379, db=0)

r.hincrby('test', 'count', 1)

count = r.hget('test', 'count')

print(count)


This code will increment the count field of the test hash by 1 and print its new value. Note that you need to have the Redis server running on your computer for this to work.